<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="S3" class="io.github.dubtry.logback.S3Appender">

    <s3BucketName>festamate-logs</s3BucketName>
    <s3FolderName>logs/festamate</s3FolderName>

    <spoolEnabled>true</spoolEnabled>
    <spoolDirectory>${LOG_PATH:-/app/logs}/s3-spool</spoolDirectory>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>application.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="S3"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>